@content4: hotpot;
.@{content4} {
  width: 60%;
  margin:0 auto 50px;
  >h2 {
    font-size:28px;
    text-align:center;
    color:#222;
  }
  .ant-tabs {
    margin-top: 60px;
  }
  .potBox {
    text-indent: 20px;
    line-height:40px;
    font-size:14px;
    margin:10px 0;
    box-shadow: 0 2px 8px 0 rgba(76,150,255,.15);
      p {
        padding: 10px 0;
      }
  }
}
.content4 {
    .hotpot {
      max-height:650px!important;
    }
  }
@media screen and (max-width: 767px) {
    .@{content4} {
    width: 80%;
    margin:0 auto 50px;
  }
  .content4 {
    .hotpot {
      margin-bottom: 150px;
    }
  }
}