.container {
	max-width:1440px;
	margin:0 auto;
}
.demo-content {
        margin-top: 75px;
    }

@media screen and (max-width: 768px) {
    .videoOne {
    	width:95% !important;
    }  
}

.ant-carousel .slick-slide {
  
  overflow: hidden;
}
.ant-carousel .slick-slide img {
	width:96%;
	height:100%;
	padding-top:15px;
	margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .templates-wrapper {
       padding-top: 75px; 
    }
}