
.ant-carousel .slick-slide {
  height: 450px;
  line-height: 450px;
  overflow: hidden;
}
.ant-carousel .slick-slide img {
	width:80%;
	height:100%;
	margin: 0 auto;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}

@media screen and (max-width: 768px) {
    .ant-carousel .slick-slide {
		  height: 300px;
		  line-height: 300px;
		  overflow: hidden;
		}
	.ant-carousel .slick-slide img {
	width:100%;
	height:100%;
}
}