.solveBox {
	width:90%;
	margin: 40px auto 309px;
	.solve {
		margin-top: 30px;
		margin-left:12.5% !important;
		.cardBox {
			margin-top:10px;
		}
		.ant-card {
			border:1px solid #eee;
				.solveSlogan {
					position:absolute;
					width:100%;
					top:55%;
					left:26%;
					font-size:14px;
					color:#fff;
				}
			.solveImg {
				opacity:0.9;
			}
			.solveImg:hover {
				opacity:1.0;
			}
	}
	}
	>h2 {
		font-weight: bold;
		border-bottom: 2px solid #eee;
		padding-bottom: 10px;
		margin: 10px 0;
		text-indent: 16px;
	}
}
.isImg {
	text-indent:0;
	}
@media screen and (max-width: 767px) {
	.solveBox{
		width:90%;
		margin: 0 auto;
		.solve {
		margin-top: 0px;
		margin-left:0px !important;
		margin-right:0px !important;
		 .cardBox{
		 	padding:0!important;
		 	.ant-card-body{
		 		padding:14px !important;
		 	}
		 }	
		}
	}
}